<nav id="sidebar" class="sidebar js-sidebar">
	<div class="sidebar-content js-simplebar">

		<a href="/admin/home"><span class="sidebar-brand align-middle"><img src="../assets/images/logo/logo-whites.png"
					alt="" width="200px"></span></a>

		<ul class="sidebar-nav">
			<li class="sidebar-header">
				Sahifalar
			</li>

			<li class="sidebar-item {{#if isHomeActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/home">
					<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Statistika</span>
				</a>
			</li>
			<li class="sidebar-item {{#if isHomePageActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-home">
					<i class="align-middle" data-feather="box"></i> <span class="align-middle">Asosiy sahifa</span>
				</a>
			</li>
			<li class="sidebar-item {{#if isNewsActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-news">
					<i class="align-middle" data-feather="hexagon"></i> <span class="align-middle">Yangiliklar</span>
				</a>
			</li>
			<li class="sidebar-item {{#if isChoicesActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-choices">
					<i class="align-middle" data-feather="copy"></i> <span class="align-middle">Tanlovlar</span>
				</a>
			</li>
			<li class="sidebar-item {{#if isManagersActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-management">
					<i class="align-middle" data-feather="user"></i> <span class="align-middle">Rahbariyat</span>
				</a>
			</li>
			<li class="sidebar-item {{#if isEmployesActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-employes">
					<i class="align-middle" data-feather="users"></i> <span class="align-middle">Hodimlar</span>
				</a>
			</li>

			<li class="sidebar-item {{#if isCompanyActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-company">
					<i class="align-middle" data-feather="database"></i> <span class="align-middle">Tashkilot haqida</span>
				</a>
			</li>

			<li class="sidebar-item {{#if isInternationalActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-international">
					<i class="align-middle" data-feather="user-check"></i> <span class="align-middle">Xalqaro hamkorlik</span>
				</a>
			</li>
			<li class="sidebar-item {{#if isCooperationActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-cooparation">
					<i class="align-middle" data-feather="user-check"></i> <span class="align-middle">Hamkorlar</span>
				</a>
			</li>
			<li class="sidebar-item {{#if isAdminActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admins">
					<i class="align-middle" data-feather="user-check"></i> <span class="align-middle">Administratorlar</span>
				</a>
			</li>

			<li class="sidebar-item {{#if isDirectionsActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-directions">
					<i class="align-middle" data-feather="align-center"></i> <span class="align-middle">Yo'nalishlar</span>
				</a>
			</li>
			<li class="sidebar-item {{#if isMediavideoActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-media-video">
					<i class="align-middle" data-feather="video"></i> <span class="align-middle">Mediatika video</span>
				</a>
			</li>
			<li class="sidebar-item {{#if isMediaphotoActive}}active{{/if}}">
				<a class="sidebar-link" href="/admin/admin-media-photo">
					<i class="align-middle" data-feather="camera"></i> <span class="align-middle">Mediatika surat</span>
				</a>
			</li>
			<li class="sidebar-item {{#if isEventsActive}}active{{/if}} ">
				<a class="sidebar-link" href="/admin/admin-media-events">
					<i class="align-middle" data-feather="menu"></i> <span class="align-middle">Tadbirlar</span>
				</a>
			</li>
			<div class="sidebar-cta">
				<div class="sidebar-cta-content">
					<strong class="d-inline-block mb-2 align-items-center text-warning"><i class="align-middle"
							data-feather="alert-triangle"></i>
						OGOHLANTIRISH</strong>
					<div class="mb-3 text-large">
						Eslatib o'taman admin panelida qilinadigan barcha xarakatlaringiz kuzatuv ostida va yozib borilmoqda.
						<br><br>
						Agar admin panelidagi sahifa 5 daqiqa xarakatsiz qolsa veb saytdan avtomatik chiqib ketadi

					</div>
				</div>
			</div>
	</div>
</nav>