<div class="desktop">
	<div class="footer">
		<div class="content d-flex">
			<div class="logo">
				<img src="./assets/images/logo/logo-whites.png" alt="" width="300">

			</div>
			<div class="brand-menu d-flex pt-1">


				<div class="langue utils">
					<div class="dropdown">
						<a class="dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							<i class="fa-solid fa-language"></i>
							<!-- Replace 'language-icon.png' with the path to your language icon -->
							O'zbekcha
						</a>

						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Ўзбекча</a></li>
							<li><a class="dropdown-item" href="#">Русский</a></li>
							<li><a class="dropdown-item" href="#">English</a></li>
						</ul>
					</div>

				</div>
				<div class="input">
					<input type="text" class="form-control" placeholder="E-pochtani kiriting">
				</div>
				<div class="button utils">
					<div class="btn-content"> <button> Obuna bo'lish</button></div>
				</div>
			</div>
		</div>
		<hr class="lines">
	</div>
	<div class="footer-menu">
		<div class="content d-flex">
			<div class="onemenu">
				<div class="card p-1">
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.5619116538214!2d68.77823247655105!3d40.50706955013504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b20786fad1fc55%3A0xed271e381b97e2cd!2sSirdaryo%20viloyati%20Yoshlar%20Texnoparki!5e0!3m2!1sen!2s!4v1713593544096!5m2!1sen!2s"
						width="500" height="300" style="border:10;" allowfullscreen="" loading="lazy"
						referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<br>
			</div>
			<div class="onemenu">
				<ul>
					<li>Yo'nalishlar</li>
					<li>Biz haqimizda</li>
					<li>Aloqa</li>
					<li>Radio</li>
					<li>Mediatika</li>
					<li>Xalaqaro aloqalar</li>
				</ul>
			</div>
			<div class="thremenu">
				<div class="field">
					<p class="fieldname"> <i class="fa fa-phone"></i> Idora:</p>
					<p class="fielddata">(90) 8631404</p>
				</div>
				<div class="field">
					<p class="fieldname"><i class="fa fa-phone"></i> Murojaatlar uchun:</p>
					<p class="fielddata">(91) 1782378</p>
				</div>
				<div class="field">
					<p class="fieldname"><i class="fa fa-location-dot"></i> Manzil:</p>
					<p class="fielddata">Sirdaryo viloyati Guliston shahri 4-mavze <br> Guliston ko'chasi 1-uy
					</p>
				</div>
			</div>
			<div class="foomenu">
				<div class="card p-2">
					<p>
						Sayt ma'lumotlaridan foydalanganda manbaga <br> havola ko'rsatilishi shart.
						<br><br>
						Agar matnda xato topsangiz, uni tanlang va ma'muriyatni <br> xabardor qilish uchun CTRL+ENTER tugmasini
						bosing
					</p>
				</div>
			</div>

		</div>
		<hr class="lines">
		<div class="footerend d-flex">
			<p>© 2024 Barcha huquqlar himoyalangan.</p>
			<p>Sayt ishlab chiquvchisi: <a href="https://t.me/Kholboev_uz" class="text-info">Sevinchbek Xolboyev</a> </p>
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Kirish</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="exampleFormControlTextarea1" class="form-label">Xatolik haqida yozing:</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

<div class="mobile">

</div>