<div class="not-found">
	<h1 class="not-title">404</h1>
	<p class="not-description">Sahifa topilmadi</p>
	<a href="/"><button class="not-btn">Asosiy sahifaga qaytish</button></a>

</div>
<div class="not-images">
	<img src="assets/images/bg404.8f47d70.png" alt="">
</div>