<main class="content">
	<div class="container-fluid p-0">
		<div class="mb-3">
			<h1 class="h3 d-inline align-middle">Tadbir qo'shish</h1>
		</div>
		<div class="row">
			<div>
				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Tadbir ma'lumotari</h5>
					</div>
					<form action="/admin-events?_csrf={{csrfToken}}" method="post" enctype="multipart/form-data">
						<div class="card-body">
							<label for="label" class="form-label">Tadbir nomini kiriting:</label>
							<input type="text" name="events_title" class="form-control" placeholder="Tadbir nomi">
							<label for="label" class="form-label pt-3">Tadbir haqida ma'lumot kiriting:</label>
							<textarea name="events_data" id="default"></textarea>
							<label for="label" class="form-label pt-3">Tadbir surati yuklang:</label>
							<input type="file" name="events_file" class="form-control" accept=".jpg, jpeg, .png">
							<label for="label" class="form-label pt-3">Boshlanish sanasini kiriting:</label>
							<input type="date" name="events_starttime" class="form-control">
							<label for="label" class="form-label pt-3">Tugash sanasini kiriting:</label>
							<input type="date" name="events_endtime" class="form-control" placeholder="Parol">
							<br>
							<button type="submit" class="btn btn-primary ">Qo'shish</button>
						</div>
					</form>
				</div>
			</div>
		</div>
</main>