<main class="content">
	<div class="container-fluid p-0">
		<div class="row">
			<div class="">
				<div class="card flex-fill">
					<div class="card-header d-flex" style="justify-content: space-between;">
						<h5 class="card-title mb-0">Web sayt tashkilot haqida bo'limi </h5>
					</div>
					<form action="/admin-data?_csrf={{csrfToken}}" method="post">
						<div style="padding: 10px;">
							<label for="form-label">Tashkilot haqida</label>

							<textarea name="company_data" id="default">
									{{#if company_data}}
									{{{company_data}}}
								{{/if}}
							</textarea>
							<br>
							<label for="form-label">Tashkilot majburiyatlari</label>

							<textarea name="company_commitment" id="default">
								{{#if company_commitment}}
									{{{company_commitment}}}
								{{/if}}
							</textarea>
							<br>
							<button type="submit" class="btn btn-primary" style="float: right;">Ma'lumotlarni saqlash <i
									class="fa fa-check"></i>
							</button>
							<br> <br>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	</body>
</main>