@import url('https://fonts.googleapis.com/css?family=Staatliches');

.loader {
	position: fixed;
	left: 0;
	top: 0;
	background-color: #03276a;
	color: white;
	width: 100%;
	height: 100%;
	animation: backgroundChange 0.5s linear 3s forwards;

	text-align: center;
}

.load-text {
	align-items: center;
	justify-content: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 80px;
	width: fit-content;
	display: flex;
	animation: colorChange 0.5s linear 3s forwards;
}

::-webkit-scrollbar {
	display: none;
}
.loaded-text {
	transform: scale(1.5);
	animation: scaleText 0.5s linear 0.5s forwards;
}

.loading-text {
	width: 0;
	overflow: hidden;
	animation: expand 1s linear 1.5s forwards;
	white-space: nowrap;
}

main {
	padding: 1em;
	box-sizing: border-box;
	background-color: #01153b;
	color: white;
	min-height: 100vh;
	font-family: 'Open Sans', sans-serif;
}

@keyframes scaleText {
	from {
		transform: scale(1.5);
	}
	to {
		transform: scale(1);
	}
}

@keyframes expand {
	from {
		width: 0;
	}
	to {
		width: 36vmax;
	}
}

@keyframes backgroundChange {
	from {
		background-color: #03276a;
	}
	to {
		background-color: #03276a;
	}
}

@keyframes colorChange {
	from {
		color: rgb(255, 255, 255);
	}
	to {
		color: rgb(255, 255, 255);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
		z-index: -1;
	}
}

@media only screen and (max-width: 1600px) {
	@keyframes expand {
		from {
			width: 0;
		}
		to {
			width: 50vmax;
		}
	}

	.load-text {
		align-items: center;
		justify-content: center;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		font-size: 80px;
		width: fit-content;
		display: flex;
		animation: colorChange 0.5s linear 3s forwards;
	}
}
