<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sirdaryo yoshlar texnoparki</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
	<link rel="shortcut icon" href="./assets/images/logo/x-icon-white.png" type="image/x-icon">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
		integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css"
		integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="./css/home.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
</head>

<body>
	<div class="main-desktop">

		<div class="header">
			<div class="header-content">
				<div class="rows d-flex">
					<p class="time">12:36
						<span class="time-date">
							Juma 19 Aprel 2024 (GMT+5)</span>
					</p>
					<p class="test text-danger">
						<i class="fa fa-warning"></i> Sayt test rejimida ishlamoqda
					</p>
					<a href="https://sirdaryotexnopark.uz/" target="_blank" class="text-decoration-none text-info">
						<i class="fa fa-link"></i> Saytning eski talqini</a>

					<p class="social">
						Biz ijtimoiy tarmoqlarda:
						<i class="fa-brands fa-telegram"></i>
						<i class="fa-brands fa-instagram"></i>
						<i class="fa-brands fa-youtube"></i>
						<i class="fa-brands fa-facebook"></i>
					</p>
				</div>
			</div>
		</div>

		<div class="header-brand">
			<div class="content d-flex">
				<div class="logo">
					<img src="./assets/images/logo/logo.png" alt="" width="300">

				</div>
				<div class="brand-menu d-flex pt-1">
					<div class="writer utils">
						<div class="pt-3">
							<a href="#" class="text-decoration-none">
								<p class="writer-content"><i class="fa-regular fa-pen-to-square"></i> Qabulga yozilish</p>
							</a>
						</div>
					</div>
					<div class="writer utils">
						<div class="pt-3">
							<a href="#" class="text-decoration-none">
								<p class="writer-content"><i class="fa-solid fa-vr-cardboard"></i> 360° VR sayohat
								</p>
							</a>
						</div>
					</div>

					<div class="langue utils">
						<div class="dropdown">
							<a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fa-solid fa-language"></i>
								<!-- Replace 'language-icon.png' with the path to your language icon -->
								O'zbekcha
							</a>

							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Ўзбекча</a></li>
								<li><a class="dropdown-item" href="#">Русский</a></li>
								<li><a class="dropdown-item" href="#">English</a></li>
							</ul>
						</div>

					</div>

					<div class="button utils">
						<div class="btn-content"> <button data-bs-toggle="modal" data-bs-target="#exampleModal"> <i
									class="fa-solid fa-right-to-bracket"></i> Kirish</button></div>
					</div>
				</div>
			</div>
			<hr>
		</div>

		<marquee behavior="alternate">So'ngi yangiliklar So'ngi yangiliklar | So'ngi yangiliklar | So'ngi
			yangiliklar | So'ngi yangiliklar |</marquee>
		<hr>
		<nav class="navbar">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">"Innovatsion texnopark – Yoshlar uchun imkoniyatlar maskani!"</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								Dropdown
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link disabled" aria-disabled="true">Disabled</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-info" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
		<!-- Carousel -->
		<div id="demo" class="carousel slide" data-bs-ride="carousel">
			<!-- Slider main container -->
			<div class="swiper">
				<!-- Additional required wrapper -->
				<div class="swiper-wrapper">
					<!-- Slides -->
					<div class="swiper-slide"
						style="background-image: url('https://senat.uz/media/post/slider/DUMUn1iTllUMjX6IfxQtiYqiExoOTc.jpg');">
						<div class="slide-content">
							<h2>Slide 1 Title</h2>
							<p>Slide 1 Description</p>
						</div>
					</div>
					<div class="swiper-slide"
						style="background-image: url('https://senat.uz/media/post/slider/Gp1NY6qdoPzntEuqSDgQmpddtHtSGy.jpg');">
						<div class="slide-content">
							<h2>Slide 2 Title</h2>
							<p>Slide 2 Description</p>
						</div>
					</div>

					<div class="swiper-slide"
						style="background-image: url('https://senat.uz/media/post/slider/KqSC5iOjvUaRgTIXHnhxJa50HAMxoW.jpg');">
						<div class="slide-content">
							<h2>Slide 4 Title</h2>
							<p>Slide 4 Description</p>
						</div>
					</div>
				</div>

				<!-- If we need pagination -->
				<div class="swiper-pagination "></div>

				<!-- If we need navigation buttons -->
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>

				<!-- If we need scrollbar -->

			</div>
		</div>
		<br><br><br>
		<div class="category">
			<div class="category-content">

				<section id="team">
					<h4 class="">Bizning yunalishlar</h4>
					<br>
					<div class="container">

						<div class="row">
							<!-- Team member -->
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="image-flip">
									<div class="mainflip flip-0">
										<div class="frontside">
											<div class="card">
												<div class="card-body text-center">
													<p><img class=" img-fluid" src="https://cdn-icons-png.flaticon.com/512/1579/1579568.png"
															alt="card image"></p>
													<h3 class="card-title pt-5">INKUBATSIYA DASTURI</h3>
												</div>
											</div>
										</div>
										<div class="backside">
											<div class="card">
												<div class="card-body text-center mt-4">
													<h4 class="card-title">Inkubatsiya dasturi</h4>
													<p class="card-text">This is basic card with image on top, title, description and button.This
														is basic card with image on top, title, description and button.This is basic card with image
														on top, title, description and button.</p>
													<button class="btn btn-success">Batafsil</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ./Team member -->
							<!-- Team member -->
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="image-flip">
									<div class="mainflip flip-0">
										<div class="frontside">
											<div class="card">
												<div class="card-body text-center">
													<p><img class=" img-fluid" src="https://cdn-icons-png.flaticon.com/512/1579/1579568.png"
															alt="card image"></p>
													<h3 class="card-title pt-5">INKUBATSIYA DASTURI</h3>
												</div>
											</div>
										</div>
										<div class="backside">
											<div class="card">
												<div class="card-body text-center mt-4">
													<h4 class="card-title">Inkubatsiya dasturi</h4>
													<p class="card-text">This is basic card with image on top, title, description and button.This
														is basic card with image on top, title, description and button.This is basic card with image
														on top, title, description and button.</p>
													<button class="btn btn-success">Batafsil</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ./Team member -->
							<!-- Team member -->
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="image-flip">
									<div class="mainflip flip-0">
										<div class="frontside">
											<div class="card">
												<div class="card-body text-center">
													<p><img class=" img-fluid" src="https://cdn-icons-png.flaticon.com/512/1579/1579568.png"
															alt="card image"></p>
													<h3 class="card-title pt-5">INKUBATSIYA DASTURI</h3>
												</div>
											</div>
										</div>
										<div class="backside">
											<div class="card">
												<div class="card-body text-center mt-4">
													<h4 class="card-title">Inkubatsiya dasturi</h4>
													<p class="card-text">This is basic card with image on top, title, description and button.This
														is basic card with image on top, title, description and button.This is basic card with image
														on top, title, description and button.</p>
													<button class="btn btn-success">Batafsil</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ./Team member -->
							<!-- Team member -->
							<div class="col-xs-12 col-sm-6 col-md-4">
								<div class="image-flip">
									<div class="mainflip flip-0">
										<div class="frontside">
											<div class="card">
												<div class="card-body text-center">
													<p><img class=" img-fluid" src="https://cdn-icons-png.flaticon.com/512/1579/1579568.png"
															alt="card image"></p>
													<h3 class="card-title pt-5">INKUBATSIYA DASTURI</h3>
												</div>
											</div>
										</div>
										<div class="backside">
											<div class="card">
												<div class="card-body text-center mt-4">
													<h4 class="card-title">Inkubatsiya dasturi</h4>
													<p class="card-text">This is basic card with image on top, title, description and button.This
														is basic card with image on top, title, description and button.This is basic card with image
														on top, title, description and button.</p>
													<button class="btn btn-success">Batafsil</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- ./Team member -->
						</div>
					</div>
				</section>
			</div>
		</div>


		<div class="news">
			<h4>Yangiliklar</h4>
			<br>
			<div class="container mt-2">

				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="card card-block p-3">

							<h4 class="card-title text-right"><i class="material-icons">#innovatsion</i></h4>
							<img src="https://sirdaryotexnopark.uz/wp-content/uploads/2023/12/photo_2023-12-22_10-33-16-300x200.jpg"
								alt="Photo of sunset">

							<div class="header-news mt-3">
								<span class="view"><i class="fa-solid fa-eye"></i> 130</span>
								<span class="view"><i class="fa-regular fa-clock"></i> 20.04.2024</span>
							</div>
							<h5 class="mt-3 mb-3"><strong>Sierra Web Development • Owner</strong></h5>
							<p class="">This is a company that builds websites, web apps and e-commerce solutions.</p>
						</div>
					</div>

				</div>

			</div>

		</div>

		<div class="director">
			<div class="director-content">
				<div class="names">
					<h1 class="text-white">Qo'shiyev Bahodir Habibjon o'g'li</h1>
					<p class="names">Sirdaryo Yoshlar Texnoparki Direktori</p>
					<p class="social">Ijtimoiy tarmoqlar:</p>
				</div>
				<div class="images">
					<img src="./assets/images/director.png" alt="" width="250">
				</div>
			</div>
		</div>

		<div class="mediatika">
			<h4>Mediatika</h4>
			<br>
			<div class="btn-group" role="group" aria-label="Basic radio toggle button group">
				<input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
				<label class="btn btn-outline-primary" for="btnradio1">Fotogaleriya</label>

				<input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
				<label class="btn btn-outline-primary" for="btnradio2">Videogaleriya</label>

			</div>
			<br><br>
			<div class="container mt-2">

				<div class="row">
					<div class="col-md-3 col-sm-6">
						<div class="card card-block p-3">
							<img src="https://sirdaryotexnopark.uz/wp-content/uploads/2023/12/photo_2023-12-22_10-33-16-300x200.jpg"
								alt="Photo of sunset">
							<h5 class="mt-3 mb-3"><strong>Sierra Web Development • Owner</strong></h5>
							<a href="`">Yuklab oliash</a>
						</div>
					</div>

				</div>

			</div>
		</div>

		<div class="footer">
			<div class="content d-flex">
				<div class="logo">
					<img src="./assets/images/logo/logo-whites.png" alt="" width="300">

				</div>
				<div class="brand-menu d-flex pt-1">


					<div class="langue utils">
						<div class="dropdown">
							<a class="dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<i class="fa-solid fa-language"></i>
								<!-- Replace 'language-icon.png' with the path to your language icon -->
								O'zbekcha
							</a>

							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Ўзбекча</a></li>
								<li><a class="dropdown-item" href="#">Русский</a></li>
								<li><a class="dropdown-item" href="#">English</a></li>
							</ul>
						</div>

					</div>
					<div class="input">
						<input type="text" class="form-control" placeholder="E-pochtani kiriting">
					</div>
					<div class="button utils">
						<div class="btn-content"> <button> Obuna bo'lish</button></div>
					</div>
				</div>
			</div>
			<hr class="lines">
		</div>
		<div class="footer-menu">
			<div class="content d-flex">
				<div class="onemenu">
					<div class="card p-1">
						<iframe
							src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3033.5619116538214!2d68.77823247655105!3d40.50706955013504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38b20786fad1fc55%3A0xed271e381b97e2cd!2sSirdaryo%20viloyati%20Yoshlar%20Texnoparki!5e0!3m2!1sen!2s!4v1713593544096!5m2!1sen!2s"
							width="500" height="300" style="border:10;" allowfullscreen="" loading="lazy"
							referrerpolicy="no-referrer-when-downgrade"></iframe>
					</div>
					<br>
				</div>
				<div class="onemenu">
					<ul>
						<li>Yo'nalishlar</li>
						<li>Biz haqimizda</li>
						<li>Aloqa</li>
						<li>Radio</li>
						<li>Mediatika</li>
						<li>Xalaqaro aloqalar</li>
					</ul>
				</div>
				<div class="thremenu">
					<div class="field">
						<p class="fieldname"> <i class="fa fa-phone"></i> Idora:</p>
						<p class="fielddata">(90) 8631404</p>
					</div>
					<div class="field">
						<p class="fieldname"><i class="fa fa-phone"></i> Murojaatlar uchun:</p>
						<p class="fielddata">(91) 1782378</p>
					</div>
					<div class="field">
						<p class="fieldname"><i class="fa fa-location-dot"></i> Manzil:</p>
						<p class="fielddata">Sirdaryo viloyati Guliston shahri 4-mavze <br> Guliston ko'chasi 1-uy
						</p>
					</div>
				</div>
				<div class="foomenu">
					<div class="card p-2">
						<p>
							Sayt ma'lumotlaridan foydalanganda manbaga <br> havola ko'rsatilishi shart.
							<br><br>
							Agar matnda xato topsangiz, uni tanlang va ma'muriyatni <br> xabardor qilish uchun CTRL+ENTER tugmasini
							bosing
						</p>
					</div>
				</div>

			</div>
			<hr class="lines">
			<div class="footerend d-flex">
				<p>© 2024 Barcha huquqlar himoyalangan.</p>
				<p>Sayt ishlab chiquvchisi: <a href="https://t.me/Kholboev_uz" class="text-info">Kholboevdev - IT solution
						company</a> </p>
			</div>
		</div>


		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModal" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h1 class="modal-title fs-5" id="exampleModalLabel">Kirish</h1>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3">
							<label for="exampleFormControlTextarea1" class="form-label">Xatolik haqida yozing:</label>
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
						</div>
					</div>

				</div>
			</div>
		</div>

	</div>



	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
		integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
		crossorigin="anonymous"></script>
	<script src="./js/home.js"></script>


</body>

</html>